doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Todo List
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    link(rel='stylesheet', href='/todo/styles.css')
  body
    #page-content.page-content.page-container
      .padding
        .row.container.d-flex.justify-content-center.mx-auto
          .col-lg-12
            .card.px-3
              .card-body
                h4.card-title Todo list
                form(method='POST', action='/todo/add')
                    .add-items.d-flex
                        input.form-control.todo-list-input(type='text', name='task' placeholder='What do you need to do today?')
                        button.add.btn.btn-primary.font-weight-bold.todo-list-add-btn Add
                .list-wrapper
                  ul.d-flex.flex-column-reverse.todo-list
                    each item in todos
                        li
                            form.col-lg-9(method='GET', action='/todo/edit/#{item._id}')
                                .add-items.d-flex
                                    p #{item.task}
                                    button.add.btn.btn-primary.font-weight-bold.todo-list-add-btn EDIT 
                            form.col-lg-3(method='POST', action='/todo/delete/#{item._id}')
                                .add-items.d-flex
                                    button.add.btn.btn-danger.font-weight-bold.todo-list-add-btn DELETE
